{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h3>{{ topic }}</h3>
{% endblock page_header %}

{% block content %}
  <p>
    <a href="{% url 'learning_logs:new_entry' topic.id %}">Add new entry</a>
  </p>

{% for entry in entries %}
  <div class="card mb-3">
    <h4 class="card-header">
      {{ entry.date_added|date:'M d, Y H:i' }}
      <small><a href="{% url 'learning_logs:edit_entry' entry.id %}">
        edit entry</a></small>
    </h4>
    <div class="card-body">
      {{ entry.text|linebreaks }}
    </div>
    
    <div class="card-footer">
      <button class="show-comments-btn" data-entry-id="{{ entry.id }}">Comments</button>
    </div>
    <div class="comments-container">
      <ul>
        {% for comment in entry.comment_set.all %}
          <li>{{ comment.text }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>  
{% empty %}
  <p>There are no entries for this topic yet.</p>
{% endfor %}
.comments-container {
  display: none;
}

.comments-visible .comments-container {
  display: block;
}


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.show-comments-btn').on('click', function() {
        var commentsContainer = $(this).closest('.card').find('.comments-container');
        commentsContainer.toggleClass('comments-visible');
      });
    });
  </script>

{% endblock content %}






